<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>202336864582-k6993cju94e0iipk09925bomrq7dnm69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202336864582-k6993cju94e0iipk09925bomrq7dnm69</string>
	<key>API_KEY</key>
	<string>AIzaSyD41g4stAJdnD1oYh-fy4f5tMpFDxAWYUY</string>
	<key>GCM_SENDER_ID</key>
	<string>202336864582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GW.PonMart</string>
	<key>PROJECT_ID</key>
	<string>pongdong-a73db</string>
	<key>STORAGE_BUCKET</key>
	<string>pongdong-a73db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:202336864582:ios:aaa74482ed728bea</string>
	<key>DATABASE_URL</key>
	<string>https://pongdong-a73db.firebaseio.com</string>
</dict>
</plist>